@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@media screen and (max-width:1600px)
{
  .cryptoCard{
    width:30vw;
  }

}

@media screen and (max-width:1200px)
{.mobile{
  position: absolute;
  width: 60vw;
}
  .main-nav{
    display: none;
  }
  .navHead{
    display: block;
  }
  .Main{
    width: 100vw;
  }
  .cryptoCard{
    width:30vw;
  }
.GraphtoCard{
  width: 45vw;
}
.App{
  flex-direction: column;
}
.hburger{
  display: block;
}
}
@media screen and (max-width:760px)
{ .head{
  flex-direction: column;
  align-items: center;
}
  .cryptoCards{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cryptoCard{
    width:50vw;
    margin-bottom: 10px;
  }
  .GraphtoCard{
    width: 80vw;
  }
  .main1{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .Main{
    padding: 20px;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width:420px)
{
  .cryptoCard{
    width:75vw;
  }
  .GraphtoCard{
    width: 75vw;
  }
  .main1{
    flex-direction: column;
  }
  .mobile{
    width: 80vw;
  }
}
